body {
  background-color: aliceblue;
  background: url(/img/finabigcats.png);
  font-size: 70%;
  background-size: 100%;
}

a {
  color: black;
  text-decoration: none;
}

/* .block1 {
  text-align: center;
  margin: 10%;
  float: left;
  display: block;
  width: 30%;
}

.block2 {
  text-align: center;
  margin: 10%;
  display: block;
  width: 30%;
}

.block3 {
  text-align: center;
  margin: 10%;
  display: block;
  width: 30%;
} */

.card {
  margin: 10px;
  width: 90%;
  height: auto;
  overflow: hidden;
  background-color: rgba(240, 248, 255, 0.97);
  border-radius: 10px;
  box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px -2px 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.border {
  background-color: rgba(240, 248, 255, 0.99);
  list-style: none;
  padding: 0;
}

.border li {
  font-family: Bradley Hand, cursive;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 10px solid #ffb968;
  box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px -2px 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  font-size: 15px;
  transition: 0.3s all linear;
}

.border li:nth-child(2) {
  border-color: #8bc63e;
}
.border li:nth-child(3) {
  border-color: #fcba30;
}
.border li:hover {
  border-left: 10px solid transparent;
}
.border li:nth-child(1):hover {
  border-right: 10px solid #f05d22;
}
.border li:nth-child(2):hover {
  border-right: 10px solid #8bc63e;
}
.border li:nth-child(3):hover {
  border-right: 10px solid #fcba30;
}

.hide {
  display: none;
}

.hide + label ~ div {
  display: none;
}

.hide + label {
  border-bottom: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}

.hide:checked + label {
  color: rgb(6, 116, 118);
  border-bottom: none;
}

.hide:checked + label + div {
  border-radius: 10px;
  display: block;
  background: rgba(240, 248, 255, 0.99);
  padding: 10px;
}

.demo {
  margin: auto;
}
